<!--<p>Order is empty!</p>-->
<!--<p>Please add some items!</p>-->
<div class="row ml-2">
  <p class="">{{ orderName }}</p>
  <p class="mx-2">x{{ qty }}</p>
  <p class="mx-2">{{ orderPrice }} KGS</p>
  <span class="" (click)="clearOfOrder()">Delete</span>
</div>

