<div class="card mb-3" style="max-width: 300px;" (click)="addToOrder()">
  <div class="row no-gutters align-items-center">
    <div class="col-md-4">
      <img src="{{ src }}" alt="{{ name }}" style="max-width: 100%">
    </div>
    <div class="col-md-8">
      <div class="card-body d-flex flex-column">
        <p class="card-text font-weight-bold">{{ name }}</p>
        <p class="card-text">Price: {{ price }} KGS</p>
      </div>
    </div>
  </div>
</div>

