<div class="container-fluid row mt-4">
  <div class="col-lg-4">
    <h4>Order details:</h4>
    <app-order
      *ngFor="let order of menuOrder; let i = index"
      [orderName]="menuOrder[i].name"
      [orderPrice]="menuOrder[i].price"
      [qty]="menuOrder[i].qty"
      (clearQty)="clearQty(i)"
    ></app-order>
    <p>Total price: {{totalPrice()}} KGS</p>
  </div>
  <div class="col-lg-8">
    <h4>Add items:</h4>
    <app-menu
      *ngFor="let item of menuItems; let i = index"
      [name]="menuItems[i].name"
      [price]="menuItems[i].price"
      [src]="menuItems[i].image"
      (addQty)="addQty(i)"
      (click)="addToOrder(i)"
    ></app-menu>
  </div>
</div>

